<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <!-- Jumbotron -->
  <div class="container ">
    <div [ngClass]="{'row g-0 align-items-center': !hasSession}">

      <div class="" [ngClass]="{'col-lg-6 mb-5 mb-lg-0': !hasSession}">
        <div class="card" [ngClass]="{'cascading-right': !hasSession}" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
          <div class="card-body p-5 shadow-5 text-center">
            <mat-icon>font_download</mat-icon>
            <h2 class="fw-bold mb-5">{{confirmButtonText}}</h2>
            <form [formGroup]="formUser" (ngSubmit)="onSubmitForm()">

              <mat-form-field appearance="outline" class="col-md-12 mb-2">
                <mat-label>pat@example.com</mat-label>
                <input type="email" matInput formControlName="email">
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-md-12 mb-2" *ngIf="!rowUserForm">
                <mat-label>Enter your password</mat-label>
                <input type="password" matInput formControlName="password">
              </mat-form-field>

              <mat-form-field appearance="outline" *ngIf="isSingUp" class="col-md-12 mb-2">
                <mat-label>Enter your phone</mat-label>
                <input type="number" matInput formControlName="phoneNumber">
                <mat-icon matSuffix>phone</mat-icon>
              </mat-form-field>
              <br>
              <!-- Submit button -->
              <button type="submit" mat-raised-button color="accent"
                [ngClass]="{'col-md-4': !hasSession, 'col-md-6': hasSession}" [disabled]="formUser.invalid">
                {{confirmButtonText}}
              </button>
              <button mat-raised-button class="col-md-6" *ngIf="hasSession" (click)="cancelBtn()">Cancelar</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0" *ngIf="!hasSession">
        <img src="../../../assets/img/login.jpg" class="w-100 rounded-4 shadow-4" style="height: 80vh;" alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->