<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <app-login-form 
                  [isSingUp]="true" 
                  [rowUserForm]="rowNewUserDto" 
                  [confirmButtonText]="confirmButtonText" 
                  (resposeForm)="listenerSubmitForm($event)" 
                  (cancelForm)="listenerCancelForm($event)"
                ></app-login-form>
            </div>
        </div>
    </div>
</div>
