<div class="container">
    <p class="h1">Attendance</p>

    <div>
        <p style="color: black">Search by ID Member</p>
    </div>

    <div class="input-group col-6">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@@</span>
        </div>
        <input type="number" min="1" step="1" class="form-control" placeholder="MemberId" aria-label="Username"
            aria-describedby="basic-addon1" [(ngModel)]="memberId" id="input">


        <button class="btn bg-yellow" type="submit" style="margin-left:20px" (click)="searchMember()">Search</button>
    </div>

    <div class="mt-3" *ngIf="!!member && !member.hasError">
        <br>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{member.model.name}} {{member.model.lastName}}</mat-card-title>
                <mat-card-subtitle>{{member.model.birthDay}}</mat-card-subtitle><br>
            </mat-card-header>
            <mat-card-content>
                <p>Email: {{member.model.email}}</p>
            </mat-card-content>
        </mat-card>
        <button class="btn bg-yellow mt-3" type="submit" (click)="confirmAttendace(member.model.id)">Confirm Attendance </button>
    </div>

    <span id="spanNotFount" *ngIf="!!member && member.hasError">Member not found</span>
</div>