<div mat-dialog-content>
    <div *ngIf="!!dialogData.isStore; else elseBlock">
        <app-store-form
        [confirmButtonText]="dialogData.type" 
        [rowEntityForm]="dialogData.rowEntityEditor" 
        (emmitterSubmitForm)="listenerSubmitForm($event)" 
        (emmitterCancelForm)="listenerCancelForm($event)"
        ></app-store-form>
    </div>
    <ng-template #elseBlock>
        <app-create-update-form
            [confirmButtonText]="dialogData.type" 
            [rowEntityForm]="dialogData.rowEntityEditor" 
            (emmitterSubmitForm)="listenerSubmitForm($event)" 
            (emmitterCancelForm)="listenerCancelForm($event)"
        ></app-create-update-form>
    </ng-template>
</div>
