@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/forms";

.bg-yellow {
    background-color: $yellow-600;
    color: aliceblue;
}

.bg-gradient {
    background: #CEA22F;
    background: -moz-linear-gradient(left, #CEA22F 0%, #908723 50%, #67522B 100%);
    background: -webkit-linear-gradient(left, #CEA22F 0%, #908723 50%, #67522B 100%);
    background: linear-gradient(to right, #CEA22F 0%, #908723 50%, #67522B 100%);
}