<ng-container [ngSwitch]="card.typeCard">
    <div>
        <ng-container *ngSwitchCase="'basic1'">
            <div class="card text-center">

                <div class="card-header text-truncate" *ngIf="!!card.header"
                    [ngClass]="!!card.header.titleClass ? card.header.titleClass : '' ">
                    <strong *ngIf="!!card.header.title">{{getUsername(UserData[card.header.title])}}</strong>
                </div>

                <div class="card-body">
                    <h5 class="card-title" [ngClass]="!!card.body.descClass ? card.body.descClass : ''">
                        {{UserData[card.body.desc]}}
                    </h5>
                    <p class="card-text" [ngClass]="!!card.body.descClass ? card.body.descClass : ''"
                        *ngIf="!!card.body.subDesc">
                        {{UserData[card.body.subDesc]}} 
                    </p>
                </div>

                <div class="card-footer text-muted">
                    <div *ngIf="!!card.footer.label; else btnFooter">
                        {{UserData[card.footer.label]}}
                    </div>

                    <ng-template #btnFooter>
                        <button mat-icon-button color="accent" (click)="clickDelete(UserData.id)"
                            [ngClass]="!!card.footer.footerClass ? card.footer.footerClass : '' ">
                            <mat-icon>{{card.footer.iconMaterial}}</mat-icon>
                        </button>
                    </ng-template>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title">
                        Sorry, tarjeta no configurada
                    </h4>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>