<div class="image-holder">
    <img src="../../../assets/img/home1.jpg" alt="Imagen"
        style="width: 100%; height: 100vh; background-attachment:scroll">
    <div class="overlay">
        <p class="banner-title display-1"><b>The body you deserve</b></p>
        <br><br>
        <div *ngIf="!hasSession" class="btn-center">
            <a [routerLink]="['/sign-in']" class="btn bg-yellow" style="margin-right: 30px;">Sign in</a>
            <a [routerLink]="['/sign-up']" class="btn bg-yellow">Sign up</a>
        </div>
    </div>
</div>
<!-- Section -->
<section class="section counters-section">
    <div class="container">
        <div class="row justify-content-center border-classic border-classic-big">
            <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay=".3s">
                <div class="counter-creative">
                    <div class="counter-creative-number"><span class="counter">130</span></div>
                    <h6 class="counter-creative-title">Clients</h6>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInUp">
                <div class="counter-creative">
                    <div class="counter-creative-number"><span class="counter">25</span></div>
                    <h6 class="counter-creative-title">Coaches</h6>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInUp">
                <div class="counter-creative">
                    <div class="counter-creative-number"><span class="counter">09</span></div>
                    <h6 class="counter-creative-title">awards</h6>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInRight" data-wow-delay=".3s">
                <div class="counter-creative">
                    <div class="counter-creative-number"><span class="counter">25</span></div>
                    <h6 class="counter-creative-title">Groups</h6>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- section -->
<section class="section section-lg" id="services" data-type="anchor">
    <div class="container">
        <div class="row row-50 justify-content-start">
            <div class="col-md-6 col-lg-3 col-12 wow fadeIn" data-wow-delay=".1s">
                <figure class="service-box">
                    <div class="square-figure"><span class="icon linearicons-medal-empty"></span></div>
                    <figcaption>
                        <h5>Quality Service</h5>
                        <p>At our fitness studio, you can experience the best level of customer service.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6 col-lg-3 col-12 wow fadeIn" data-wow-delay=".2s">
                <figure class="service-box">
                    <div class="square-figure"><span class="icon linearicons-dumbbell"></span></div>
                    <figcaption>
                        <h5>Spacious gym</h5>
                        <p>Our gym has enough place for all kinds of workouts and a wide variety of equipment.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6 col-lg-3 col-12 wow fadeIn" data-wow-delay=".3s">
                <figure class="service-box">
                    <div class="square-figure"><span class="icon linearicons-document"></span></div>
                    <figcaption>
                        <h5>unique fitness programs</h5>
                        <p>Our coaches have developed more than 50 fitness programs and workouts for you.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6 col-lg-3 col-12 wow fadeIn" data-wow-delay=".4s">
                <figure class="service-box">
                    <div class="square-figure"><span class="icon linearicons-users2"></span></div>
                    <figcaption>
                        <h5>Group classes</h5>
                        <p>If you prefer training with friends, then our group classes have what you need.</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>


<div class="div1"></div>





jklsad
<br>
<br>
<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.rQ3pBd5CGRLKAWOyaIhBPAHaCG%26pid%3DApi&f=1&ipt=cd331148ed46cdc85f1d76d1947eed27159060570592831fdbac2b493503de18&ipo=images"
    alt="">