<div class="image-holder">
    <img src="../../../assets/img/home1.jpg" alt="Imagen"
        style="width: 100%; height: 100vh; background-attachment:scroll">
    <div class="overlay">
        <p class="banner-title display-1"><b>El cuerpo que mereces</b></p>
        <br><br>
        <div *ngIf="!hasSession" class="btn-center">
            <a [routerLink]="['/sign-in']" class="btn bg-yellow" style="margin-right: 30px;">Sign in</a>
            <a [routerLink]="['/sign-up']" class="btn bg-yellow">Sign up</a>
        </div>
    </div>
</div>

<div class="div1"></div>





jklsad
<br>
<br>
<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.rQ3pBd5CGRLKAWOyaIhBPAHaCG%26pid%3DApi&f=1&ipt=cd331148ed46cdc85f1d76d1947eed27159060570592831fdbac2b493503de18&ipo=images"
    alt="">